.background{
    background-image: url("../static/images/bg3.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 450px;
}

